body{
	/*background-image: url("powerpoint-templates-sA7OQKO87.jpg");background-repeat: no-repeat;*/
	/*background-image: url("css-background-image-HD9-600x338.jpg");
	/*background-repeat: no-repeat;
	background-image: center;*/
	background-image: 
}
fieldset{
	width: 300px;
	height: 400px;
	position: center;
	display: block;
    margin-left: 100px;
}
.forme{
    /*opacity: 0.6;*/
	display: block;
	border: 2px solid;
	background-color: #f71bad;
	text-align: center;
	margin-right: 400px;
	margin-left: 400px;
}
.bouton{
   
}
.text2{
	margin-right: 2px;
}